<div class="container-fluid pt-3">
  <h3 class="mb-4 text-dark font-weight-bold">Thêm Bài Học Mới</h3>

  <%# Render cái form ở trên, gọi đến action create %>
  <%= render 'form', url: admin_lessons_path, method: :post %>
</div>