[Unit]
Description=Kanji Together Rails
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/quandoan/Kanji_Together_Rails
Environment=RAILS_ENV=production
Environment=PORT=3001
Environment=RAILS_LOG_TO_STDOUT=1
ExecStart=/usr/bin/env bash -lc 'bundle exec puma -C config/puma.rb'
Restart=on-failure
RestartSec=5
# User=deploy
# Group=deploy

[Install]
WantedBy=multi-user.target
