<% content_for :title, "Chỉnh sửa câu hỏi" %>

<div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title">Chỉnh Sửa Câu Hỏi #<%= @question['id'] %></h3>
  </div>
  <%= render 'form', url: admin_question_path(@question['id']), method: :put, question: @question %>
</div>