<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Tạo Câu Hỏi Mới</h3>
  </div>
  <%= render 'form', url: admin_questions_path, method: :post, question: {} %>
</div>