<div class="container-fluid pt-3">
  <div class="row mb-4 align-items-center">
    <div class="col-sm-8">
      <h3 class="m-0 text-dark font-weight-bold">
        <i class="fas fa-plus-circle text-info mr-2"></i>Tạo Khóa học
      </h3>
    </div>
  </div>

  <%= render "form", form_url: admin_courses_path, form_method: :post, submit_label: "Tạo mới" %>
</div>
